
#mainContainer {
    display: flex;
    justify-content: space-around; /* 내부 요소들 사이에 공간을 균등하게 배분 */
    align-items: flex-start; /* 내부 요소들을 상단 정렬 */
    padding: 20px;
    box-sizing: border-box;
    width: 100%; /* 필요한 경우 너비 조정 */
}

#call {
    flex-direction: column;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 아이템들을 가운데 정렬 */
    padding: 3px;
    margin: auto;
    max-width: 90%; /* 최대 너비 설정 */
    max-height: 90vh; /* 화면의 높이에 맞춰 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}
#chatContainer {
    /* display: flex; */
    flex-direction: column;
    margin: 0 10px; /* 요소들 사이의 마진 */
    flex: 1; /* 채팅 컨테이너에 할당되는 공간 조정 */
}

#myStream, #peerStream {
    flex: 1; /* 비디오가 차지할 수 있는 만큼의 공간을 차지하도록 설정 */
    max-width: 100%; /* 컨테이너 너비의 50%를 최대 너비로 설정 */
}

#myStream video, #peerStream video {
    max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
    max-height: 100%; /* 부모 요소의 높이를 초과하지 않도록 설정 */
    height: auto; /* 비디오 높이를 자동으로 조정하여 비율 유지 */
    object-fit: contain; /* 비디오 비율을 유지하면서 최대 크기에 맞춤 */
}

/* 미디어 컨트롤 버튼과 카메라 선택 드롭다운 스타일링 */
#mute, #camera, #cameras {
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
    margin: 10px 0; /* 버튼과 드롭다운 사이의 마진 추가 */
}



#chatContainer {
    /* display: flex; */
    flex: 1; /* 채팅 컨테이너에 적당한 공간 할당 */
    overflow: hidden; /* 내부 요소가 컨테이너를 넘어갈 때 처리 */
    flex-direction: column;
    justify-content: space-between;
    height: 90vh; /* 채팅 컨테이너의 높이 설정, 뷰포트의 90%를 차지 */
    max-height: 80vh;
    margin: auto;
    max-width: 70%; /* 채팅 컨테이너의 너비 설정 */
    border: 1px solid #ccc; /* 경계선 스타일 */
    padding: 10px; /* 내부 여백 */
    box-sizing: border-box; /* border와 padding을 너비에 포함 */
    background-color: #f9f9f9; /* 배경색 */
}

#messages {
    list-style-type: none; /* 리스트 마커 제거 */
    margin: 0;
    padding: 0;
    overflow-y: auto; /* 메시지가 많아지면 스크롤 생성 */
    flex-grow: 1; /* 사용 가능한 공간 모두 차지 */
}

#messages li {
    padding: 8px 16px; /* 메시지 항목의 패딩 */
    margin-bottom: 2px; /* 메시지 항목 간의 마진 */
    background-color: #e0e0e0; /* 메시지 항목의 배경색 */
    border-radius: 4px; /* 메시지 항목의 테두리 둥글게 */
}

#chatForm {
    display: flex; /* 폼 내 요소들을 가로로 나란히 배치 */
}

#chatForm input[type="text"] {
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간을 차지하도록 설정 */
    margin-right: 10px; /* 버튼과의 공간을 설정 */
}

#chatForm button {
    white-space: nowrap; /* 버튼 내 텍스트 줄바꿈 방지 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

#call.hidden, #chatContainer.hidden {
    display: none;
}

#controls {
    display: flex;
    justify-content: space-around; /* 요소들 사이에 공간을 균등하게 배분 */
    align-items: center; /* 요소들을 수직 중앙 정렬 */
    padding: 10px; /* 패딩 */
}

#controls button, #controls select {
    padding: 10px 20px; /* 적절한 패딩 */
    margin: 5px; /* 요소들 사이의 마진 */
    border: 2px solid transparent; /* 기본 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: black; /* 기본 배경색 */
    color: white; /* 텍스트 색상 */
    cursor: pointer; /* 클릭 가능한 요소임을 나타내는 커서 */
}

#controls button.on, #controls select.on {
    background-color: red; /* 켜진 상태일 때의 배경색 */
}

#controls button.off, #controls select.off {
    background-color: black; /* 꺼진 상태일 때의 배경색 */
}


/* 모바일 환경에서 적용될 스타일 */
/* 모바일 환경에서 적용될 스타일 */
@media screen and (max-width: 768px) {
    #call {
        max-width: 10vh; /* 비디오 영역을 최소한으로 설정 */
        overflow: hidden; /* 비디오가 max-height를 초과할 경우 숨김 처리 */
    }

    #myStream video, #peerStream video {
        max-height: 10vh; /* 비디오 최대 높이 설정 */
    }

    #controls {
        flex-direction: column; /* 버튼을 가로로 배치 */
        justify-content: center; /* 버튼을 중앙에 배치 */
        width: 100%; /* 컨트롤 영역 너비를 최대로 설정 */
    }

    #mute, #camera {
        font-size: 0; /* 텍스트 숨김 */
        width: 2vh; /* 버튼 너비 설정 */
        height: 2vh; /* 버튼 높이 설정 */
        border-radius: 50%; /* 원형 버튼으로 설정 */
    }

    #mute.on, #camera.on {
        background-color: red; /* 활성 상태일 때 색상 */
    }

    #mute.off, #camera.off {
        background-color: gray; /* 비활성 상태일 때 색상 */
    }

    #chatContainer {
        max-width: 90vh; /* 채팅 영역을 더 크게 설정 */
        overflow-y: auto; /* 채팅 영역에 세로 스크롤 활성화 */
    }
    #chatForm {
        flex-direction: column; /* 화면이 작을 때 폼 요소를 세로로 배치 */
        margin-bottom: 10px; /* 폼 하단 여백 추가 */
    }

    #chatForm input[type="text"], #chatForm button {
        width: 100%; /* 입력 필드와 버튼이 폼 너비 전체를 차지하도록 설정 */
        margin: 5px 0; /* 위아래 마진 추가로 요소 간 간격 조정 */
    }

}
